## Data Cleaning

In [7]:
import pandas as  pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
df = pd.read_csv('Churn_Modelling_with_nulls.csv')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           8500 non-null   object
 6   Age              8500 non-null   float64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 1.1+ MB

### Finding the number of missing values

In [10]:
df.isnull().sum()

RowNumber             0
CustomerId            0
Surname               0
CreditScore           0
Geography             0
Gender             1500
Age                1500
Tenure                0
Balance               0
NumOfProducts         0
HasCrCard             0
IsActiveMember        0
EstimatedSalary       0
Exited                0
dtype: int64

### Handling Missing Values

**1. Deleting the columns with missing data**

In [11]:
updated_df = df.dropna(axis=1)

**What does it do?**
<br/>
`df.dropna(axis =1)` removes all the columns with at least one `null` value

**What is `axis=1`**
<br/>
`axis=1` deletes columns while `axis=0` removes rows

In [12]:
updated_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Tenure           10000 non-null  int64
 6   Balance          10000 non-null  float64
 7   NumOfProducts    10000 non-null  int64
 8   HasCrCard        10000 non-null  int64
 9   IsActiveMember   10000 non-null  int64
 10  EstimatedSalary  10000 non-null  float64
 11  Exited           10000 non-null  int64
dtypes: float64(2), int64(8), object(2)
memory usage: 937.6+ KB

**Is this a god approach?**
<br/>
No, it is not wise to drop the complete columns, as it can reduce the usefulness of the dataset (loss of valueable information)

**2. Deleting the rows with missing data**

In [13]:
updated_df = df.dropna(axis=0)

In [14]:
updated_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8500 entries, 1 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        8500 non-null   int64
 1   CustomerId       8500 non-null   int64
 2   Surname          8500 non-null   object
 3   CreditScore      8500 non-null   int64
 4   Geography        8500 non-null   object
 5   Gender           8500 non-null   object
 6   Age              8500 non-null   float64
 7   Tenure           8500 non-null   int64
 8   Balance          8500 non-null   float64
 9   NumOfProducts    8500 non-null   int64
 10  HasCrCard        8500 non-null   int64
 11  IsActiveMember   8500 non-null   int64
 12  EstimatedSalary  8500 non-null   float64
 13  Exited           8500 non-null   int64
dtypes: float64(3), int64(8), object(3)
memory usage: 996.1+ KB

**What does it do?**
<br/>
`df.dropna(axis =0)` removes all the rows with at least one `null` value

**What is `axis=0`**
<br/>
`axis=0` deletes rows while `axis=1` removes columns

**3. Filling the missing values (imputation)**

The possible ways to do this are:
- Mean or median -> if it's a numerical value
- Mode -> if it's a categorical value
- filling with random data 
    - 0 or -999 or some other random data that will not occour in the data (this is done so that the machine can understand that the data is not real or is different)
    - new type of missing value for categorical data

In [16]:
print(df['Age'].mean())

38.93094117647059

In [18]:
print(df['Age'].median())

37.0

In [19]:
updated_df = df
updated_df['Age'] = updated_df['Age'].fillna(df['Age'].mean())

**What is happening in the above cell?**
1. we're creating a duplicate dataframe called updated dataframe 
2. the age column of the updated dataframe is targetted
3. all the null values in the updated dataframe are replaced by the mean of the age column of the original dataframe
4. the `fillna` basically fills all the null values with the specified argument

In [20]:
updated_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           8500 non-null   object
 6   Age              10000 non-null  float64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 1.1+ MB

age does not have any null values, as it has been treated with mean

**Using median to fill the missing values**

In [21]:
updated_df = df
updated_df['Age'] = updated_df['Age'].fillna(df['Age'].median)

In [22]:
updated_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           8500 non-null   object
 6   Age              10000 non-null  float64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 1.1+ MB

**When do we use mean and when do we use median?**
<br/>
There's no thumb-rule but, usually, when you have too many outliers, it is better to use median and when you have less outliers, it is better to use mean